body{
    margin: 0;
    padding: 0;
    overflow: scroll;
    font-family: sans-serif;
}

.content {
    overflow: hidden;
    margin-left: 10%;
    width: 80%;
}

header {
    float: left;
    width: 99%;
    margin-bottom: 5px;
}

[class="content-logo"] {
    float: left;
}

[class="logo"] {
    float: left;
    width: 400px;
}

[class="redessociales"] {
    float: right;
    margin-top: 20px;
}

[class*="fab"] {
    width: 20;
    margin: 3px;
}

nav {
    float: left;
    width: 99%;
    margin-bottom: 15px;
}

h1 {
    float: left;
    font: 35px sans-serif;
    font-weight: bold;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.nav-enlaces {
    float: left;
    width: 99%;
    font: 15px sans-serif;
    margin-block-start: 10px;
    margin-block-end: 0px;
    text-decoration-line: none;
}

section {
    overflow: hidden;
    float: left;
    width: 99%;
}

article {
    float: left;
}

.img-principal {
    width: 650px;
}

article div {
    width: 70%;
}

article .content-receta {
    width: 70%;
    text-align: justify;
}

.color-violeta {
    color: darkmagenta;
}

nav a {
    color: violet;
}

a {
    color: black;
}

ul {
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    padding: 30px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

[class="img-secundaria"] {
    width: 700px;
}

article a {
    color: violet;
    text-decoration-line: none;
}

footer {
    overflow: hidden;
    float: left;
    width: 99%;
}

footer p {
    float: left;
    margin-left: 10%;
}



